<h1>Listado de favoritos</h1>


<div *ngFor="let disco of discos">
  Disco {{disco.nombre}} hecho por {{disco.artista}}
</div>

<ng-container *ngIf="discos?.length === 0" [ngTemplateOutlet]="mensajeNoHayFavoritos"
              [ngTemplateOutletContext]="{tipo: 'Discos'}"></ng-container>
<!--<ng-container *ngIf="discos?.length === 0" [ngTemplateOutlet]="mensajeNoHayFavoritos"></ng-container>-->

<div *ngFor="let cancion of canciones">
  Cancion {{cancion.nombre}} hecha por {{cancion.artista}}
</div>

<ng-container *ngIf="canciones?.length === 0">
  <ng-container *ngTemplateOutlet="mensajeNoHayFavoritos; context: {tipo: 'Canciones'}"></ng-container>
</ng-container>

<ng-template #mensajeNoHayFavoritos let-myTipo="tipo">
  <div>
    <p>Todavía no tienes tus {{myTipo}} favoritos</p>
  </div>
</ng-template>
