<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div style="padding: 24px;">
    <label>Nombre</label>
    <input formControlName="nombre">
    <div>Error {{myForm.get('nombre')?.errors | json}}</div>
    <div>Status {{myForm.get('nombre')?.status}}</div>
  </div>
  <div style="padding: 24px;">
    <label>Apellidos</label>
    <input formControlName="apellidos">
    <div>Status {{myForm.controls.apellidos.status}}</div>
    <div>Valid {{myForm.controls.apellidos.valid}}</div>
    <div>Invalid {{myForm.controls.apellidos.invalid}}</div>
  </div>

  <div style="padding: 24px;">
    <label>Acepto condiciones</label>
    <input type="checkbox" formControlName="aceptoCondiciones">
    <div>Status {{myForm.get('aceptoCondiciones')?.errors | json}}</div>
  </div>

  <ng-container formArrayName="mensajes">
    <div *ngFor="let mensaje of mensajes.controls; index as index">
      <input [formControlName]="index">
    </div>
  </ng-container>

  <button>Submit</button>
  <button type="button" (click)="addMessage()">Add message</button>

</form>

<div style="padding: 16px;">
  <h4>Info del FORM</h4>
  <div>Value: {{myForm.value | json}}</div>
  <div>Valid: {{myForm.valid}}</div>
  <div>Status: {{myForm.status}}</div>

  <div>Pristine: {{myForm.pristine}}</div>
  <div>Dirty: {{myForm.dirty}}</div>

  <div>Touched: {{myForm.touched}}</div>
  <div>Untouched: {{myForm.untouched}}</div>

  <div>Error {{myForm.errors | json}}</div>
</div>
