<div>{{nombre}}</div>
<div>{{artista}}</div>
<div *ngIf="true; else noNombre">Hola</div>

<ng-template #noNombre>
  <div>El disco no tiene nombre</div>
</ng-template>

<div [ngSwitch]="artista">
  <div *ngSwitchCase="'Cher'">Hola soy Cher</div>
  <div *ngSwitchCase="'ACDC'">2</div>
  <div *ngSwitchDefault>3</div>
</div>

<div [ngClass]="'text-black'"></div>
<div [ngClass]="true ? 'text-black' : ''"></div>
<div [ngClass]="['text-black']"></div>
<div [ngClass]="{'text-red': true, 'background-green': artista === 'Cher'}"></div>
<div [class.text-red]="artista === 'ACDC'"></div>

<div [ngStyle]="{'color': true ? 'blue' : 'green'}">Esto es azul</div>
<div [style.color]="'green'">Esto es verde</div>
<div [style.--myVarCss]="'green'">Esto tiene la variable css a verde</div>


