
app-ng-content-example {
    display: block;
    border: 1px solid black;
    padding: 12px;
}

.my-class {

}

[myAttribute]:not(:empty) {

}

#myId {

}

app-listado-favoritos {
    background: #dedede;
}
