<div [style.display]="'flex'" [style.gap]="'12px'" [style.background]="'#eeeeee'">
  <div [routerLink]="['discos']" [queryParams]="{id: 23, hola: 'adios'}" [fragment]="'footer'"
       [routerLinkActive]="'text-red'">Discos
  </div>
  <div routerLink="http" [routerLinkActive]="'text-red'">Http</div>
  <div routerLink="forms" [routerLinkActive]="'text-red'">Forms</div>
  <div routerLink="directivas" [routerLinkActive]="'text-red'">Directivas</div>
  <div routerLink="/di" [routerLinkActive]="'text-red'">DI</div>
  <div routerLink="/ng-content" [routerLinkActive]="'text-red'">Ng content</div>
  <div routerLink="/pipes" [routerLinkActive]="'text-red'">Pipes</div>
  <div routerLink="/rxjs" [routerLinkActive]="'text-red'">RxJs</div>
</div>

<router-outlet></router-outlet>

<footer [style.background]="'#eeeeee'">Soy un footer</footer>
