<p>pipes-example works!</p>

<!--<div>{{nombre | uppercase}}</div>-->
<!--https://angular.io/api/common/DatePipe -->
<div>{{fecha | date: 'full': '': 'es-ES'}}</div>

<div>{{1345 | currency: 'EUR': 'symbol': '1.2-2' : 'es-ES'}}</div>
<div>{{1345 | number:  '1.2-2' : 'es-ES'}}</div>
<div>{{[true, true, true] | slice: 0 : 2 | json}}</div>

<div> {{ 'Hola' | textFormatterAsync | async }}</div>
