<div [appColorAfterClick]="'red'" [color]="'red'" (customEvent)="showAlert()">Elemento 1</div>
<div [appColorAfterClick]="'green'" [color]="'green'">Elemento 2</div>
<div>Elemento 3</div>

<div [appDirectivesExample]="'Texto para copiar'" [myColor]="'red'">Elemento 4</div>
<div>Elemento 5</div>
<div>Elemento 6</div>

