<ng-content select="[topContent]"></ng-content>

<p>ng-content-example works!</p>
<p>Esto es la parte de abajo del componente</p>

<ng-content select="[bottomContent]"></ng-content>

<ng-content select="app-listado-favoritos[myAttribute]"></ng-content>

